.email-preview {
    display: flex;
    gap: 8px;
    align-items: center;
    .email-preview__who {
        white-space: nowrap;
        flex: 1 1 20%
    }
    .email-preview-text {
        flex: 1 1 75%; 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}